mixin Visit-schedule(param={})
  .visit-schedule

    if(param.scheduleOne)
      div
        +icon('icon-calendar')
        .visit-schedule__title=param.title
        .visit-schedule__content
          .visit-schedule__subtitle=param.subtitle
          .visit-schedule__time=param.time
        
    if(param.scheduleTwo)
      div
        +icon('icon-calendar')
        .visit-schedule__title=param.title
        .visit-schedule__content
          .visit-schedule__subtitle=param.subtitle
          .visit-schedule__time=param.time
      div
        +icon('icon-done')
        .visit-schedule__title=param.title
        .visit-schedule__content
          .visit-schedule__subtitle=param.subtitle
          .visit-schedule__time=param.time