mixin Medical-center-slide-doctors(param={})
    div.medical-center__doctor.doctor
        .img-container
            +Img({
                src: `${param.img}.png`, 
                alt: 'center-doctor'
            })
        .doctor__info
            .doctor__name=param.name
            .doctor__experience=param.experience
            .doctor__position=param.position
            a(href='#').doctor__btn.btn-more.text-blue Подробнее
                +icon('btn_more')
        .icon-tooltip-wrapper.medical-center__doctor_tooltip(data-tooltip=param.text)
            .icon-tooltip
                +icon('bookmark')
                //- span.icon-tooltip__text Врач первой категории