// -
	param.name
	param.value
	param.checked
	param.disabled
	param.text

mixin Radio(param = {})
	label.v-radio(for=param.id)
		input(type="radio" name=param.name value=param.value checked=param.checked disabled=param.disabled)
		if(!param.complex)
			span=param.text
		if(param.complex)
			div.radio-btn__complex
				span.radio-btn__text= param.text
				if(param.additional)
					span(class=`${param.addClass}`) #{param.addText}

// -
	param.name
	param.value
	param.checked
	param.disabled
	param.text

mixin RadioBtn(param = {})

	- param.id = param.id || 'id-' + Math.floor(Math.random() * 6666);
	- param.name = param.name || 'name-' + Math.floor(Math.random() * 6666);

	.radio-btn
		input(type="radio" name=param.name value=param.value checked=param.checked disabled=param.disabled id=param.id)
		label(for=param.id) #{param.text}


mixin NRadioBtn(param = {})
	.n-btn-radio
		input(type="radio", name=`${param.name}`, id=`${param.radioId}`, checked=param.checked)
		label(for=`${param.radioId}`)
			p(class=`${param.labelClass}`)=param.label
			if(param.price)
				span.price=param.price